*.o
*.a
**.rej
*.orig
*.patch
*~
tags
tests/attr_fields/exclude_idle
tests/attr_fields/pinned
tests/corner_cases/huge_events_start
tests/corner_cases/huge_group_start
tests/corner_cases/signal_after_close
tests/corner_cases/wrap
tests/error_returns/eoverflow
tests/generalized_events/core.28691
tests/generalized_events/core.29289
tests/ioctl/ioctl_0_enable
tests/ioctl/ioctl_10_query_bpf
tests/ioctl/ioctl_11_modify_attributes
tests/ioctl/ioctl_1_disable
tests/ioctl/ioctl_2_refresh
tests/ioctl/ioctl_3_reset
tests/ioctl/ioctl_4_period
tests/ioctl/ioctl_5_set_output
tests/ioctl/ioctl_6_set_filter
tests/ioctl/ioctl_7_id
tests/ioctl/ioctl_8_set_bpf
tests/ioctl/ioctl_9_pause_output
tests/overflow/overflow_skid
tests/prctl/prctl
tests/prctl/prctl_attach
tests/prctl/prctl_child
tests/prctl/prctl_inherit
tests/prctl/prctl_parent
tests/rdpmc/rdpmc_attach
tests/rdpmc/rdpmc_attach_cpu
tests/rdpmc/rdpmc_attach_global_cpu
tests/rdpmc/rdpmc_attach_multi_enable
tests/rdpmc/rdpmc_attach_other_cpu
tests/rdpmc/rdpmc_comparision_mmap
tests/rdpmc/rdpmc_comparision_readsyscall
tests/rdpmc/rdpmc_exec
tests/rdpmc/rdpmc_exec_papi
tests/rdpmc/rdpmc_group
tests/rdpmc/rdpmc_group_syswide
tests/rdpmc/rdpmc_multiattach
tests/rdpmc/rdpmc_multiattach_papi
tests/rdpmc/rdpmc_multiplexing
tests/rdpmc/rdpmc_pthreads
tests/rdpmc/rdpmc_pthreads_group
tests/rdpmc/rdpmc_reset
tests/rdpmc/rdpmc_sw_events
tests/record_sample/mmap_multiple
tests/size/header_mismatch
tests/size/just_right
tests/size/too_big
tests/size/too_little
tests/utils/check_paranoid
tests/x86_amd/ibs_fetch
tests/x86_amd/ibs_op
warnings/core2_nmi_flood
warnings/kec_2122_warn
warnings/pec_1076_warn
