attr_fields/disabled
attr_fields/enable_on_exec
attr_fields/exclude_guest
attr_fields/exclude_host
attr_fields/exclude_hv
attr_fields/exclude_kernel
attr_fields/exclude_user
attr_fields/exclusive
attr_fields/format_id_support
attr_fields/inherit
attr_fields/inherit_stat
attr_fields/read_format_range_check
attr_fields/sample_type_range_check
breakpoints/breakpoint_support
bugs/check_schedulability
bugs/nmi_watchdog_group_leader
bugs/read_group_attached
bugs/sync_read_required
constraints/check_constraints
corner_cases/check_reset_mpx
corner_cases/context_switch_user_kernel
corner_cases/hw_sw_mix
corner_cases/ioctl_refresh_0
corner_cases/max_multiplex
corner_cases/max_num_events
corner_cases/multiple_active
corner_cases/overflow_requires_mmap
corner_cases/reset_leader
corner_cases/sampled_notleader_refresh
corner_cases/signal_after_exec
corner_cases/sw_start_leader
corner_cases/wrong_size_enospc
error_returns/e2big
error_returns/eacces
error_returns/ebadf
error_returns/efault
error_returns/einval
error_returns/emfile
error_returns/enoent
error_returns/enospc
error_returns/eopnotsupp
error_returns/eperm
error_returns/esrch
error_returns/non-existent
flags/flags_cgroup
flags/flags_fd_no_group
flags/flags_fd_output
flags/flags_range_check
generalized_events/branch-misses
generalized_events/branches
generalized_events/cycles
generalized_events/instructions
generalized_events/l1-dcache-loads
generalized_events/l1-dcache-stores
ioctl/ioctl_flag_group
ioctl/ioctl_id
ioctl/ioctl_period
ioctl/ioctl_set_bpf
ioctl/ioctl_set_filter
ioctl/ioctl_set_output
multiplexing/check_multiplexing
multiplexing/check_papi_multiplexing
multiplexing/old_multiplexing
multithread/fork_then_read
multithread/lots_of_forks
multithread/open_fork_close_kill
openmp/openmp_overflow
openmp/openmp_sample
openmp/openmp_test
overflow/breakpoint_overflow
overflow/overflow_large
overflow/overflow_poll
overflow/overflow_requires_wakeup
overflow/overflow_signal
overflow/simple_overflow_leader
overflow/simple_overflow_leader_poll
overflow/simple_overflow_sibling
overflow/simul_oneshot_group_overflow
overflow/simultaneous_group_overflow
overflow/simultaneous_overflow
overflow/single_shot_overflow
overflow/single_shot_w_enable
overflow/wakeup_events_overflow
periodic_stats/print_record_sample
rdpmc/rdpmc_support
rdpmc/rdpmc_validation
record_sample/lost_record_sample
record_sample/multiple_mmap_sizes
record_sample/overwrite_mmap
record_sample/print_record_sample
record_sample/record_comm
record_sample/record_comm_exec
record_sample/record_fork
record_sample/record_mmap
record_sample/record_mmap2
record_sample/record_mmap_data
record_sample/sample_branch_stack
record_sample/sample_data_src
record_sample/sample_regs_intr
record_sample/sample_regs_user
record_sample/sample_stack_user
record_sample/sample_weight
record_sample/validate_record_sample
socket/socket_pass
sysfs/events
tracepoints/tracepoint_alias
utils/get_cache_info
x86_intel/bts_aux
x86_intel/bts_kernel
x86_intel/fixed_ctr0
x86_intel/fixed_ctr1
x86_intel/fixed_ctr2
x86_intel/offcore_response
x86_intel/offcore_response_mask
x86_intel/pebs
x86_intel/pebs_addr
x86_intel/pebs_latency
x86_intel/pebs_registers
x86_intel/uncore_cpu_cbox
x86_intel/uncore_events
x86_intel/uncore_group_cbox
x86_intel/uncore_max_cbox
